/* style elements for index.html */

.landing-text {
    flex: 1.2;
}

.landing-text h2 {
    font-weight: 600;
}

#p-tight {
    width: 75%;
    padding-top: 15px;
    margin: auto;
    font-size: 17px;
}

#selection-buttons {
    margin-bottom: 15px;
    height: auto;
}

#selection-buttons a {
    text-decoration: none;
    color: white;
    padding: 25px 60px;
    background-color: #212122;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

#selection-buttons a:hover {
    background-color: #ebebeb;
    color: #212122;
}

#button-left {
    margin-left: 10px;
    margin-right: 10px;
}

#button-right {
    margin-left: 10px;
    margin-right: 10px;
}

#current-location {
    padding: 15px;
    padding-bottom: 5px;
}

.data-preview h1 {
    font-size: 50px;
    padding-bottom: 0px;
    margin-top: 15px;
}

.data-preview h4 {
    font-weight: lighter;
}

#calculations {
    height: auto;
}

#outbreak-prob {
    display: inline-block;
    margin-right: 15px;
}

#outbreak-risk {
    display: inline-block;
    margin-left: 15px;
    margin-right: 25px;
}

.data-preview #selection-buttons {
    padding-top: 25px;
}

#next-steps {
    text-align: left;
    flex: 3;
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
}

#next-steps p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}

#next-steps h2 {
    padding-left: 15px;
}

#img-right {
    width: 503px;
}

#img-right img {
    width: 483px;
    height: 211px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
