/* style elements for viewdata.html */

.filter-selections {
    flex: 1.3;
    text-align: left;
}

.select-location {
    text-align: left;
}

.select-location h3 {
    padding-bottom: 5px;
}

select, input {
    width: 175px;
    border: none;
    border-radius: 4px;
    background-color: #ABB2B5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px;
}

input {
    width: 150px;
}

.submit {
    width: 60px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.submit:hover {
    background-color: #E9C46A;
    font-weight: bold;
}

select:hover {
    background-color: #E9C46A;
    font-weight: bold;
}

input:hover {
    background-color: #E9C46A;
    font-weight: bold;
}

.selection {
    display: inline-block;
    margin: 10px 15px;
}

.selection h3 {
    text-align: left;
}

#region {
    display: none;
}

.selection-buttons {
    margin-bottom: 15px;
    height: auto;
}

.selection-buttons a {
    text-decoration: none;
    color: white;
    padding: 25px 40px;
    background-color: #212122;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.selection-buttons a:hover {
    background-color: #ABB2B5;
    color: #212122;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;

}

.button {
    margin-left: 10px;
    margin-right: 10px;
}

#active {
    background-color: #ABB2B5;
    color: #212122;
    font-weight: bold;
}

.prediction-model {
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
}

.prediction-model h1 {
    font-size: 50px;
    padding-bottom: 0px;
    margin-top: 15px;
}

.prediction-model h2 {
    margin-top: 10px;
}

.prediction-model h4 {
    font-weight: lighter;
    font-size: 22px;
    padding-bottom: 0px;
}

.pred-area {
    display: inline-block;
}

.pred-area-left {
    margin-right: 20px;
}

.pred-area-right {
    margin-left: 20px;
}

h4.location {
    font-weight: 600;
    margin-bottom: 30px;
}

#calculations {
    height: auto;
    margin-bottom: 10px;
}

.data-insights {
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
}

.map {
    margin-top: 15px;
    height: 100%;
    flex: 2;
}

.high {
    color: #E85530;
}

.medium {
    color: #DE9459;
}

.low {
    color: #427B91;
}

/* add html, body in front to get map to load */
#viewDiv {
  padding: 0;
  margin: 0;
  height: 65vh;
  width: 100%;
}
