#home-container {
    margin-left: 13%;
    margin-right: 13%;
}

.title-area {
    margin-top: 50px;
}

.title-area img {
    width: 480px;
}

.title-words {
    text-align: center;
    margin-top: -420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.title-words #big-title {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.title-words #subtitle {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 16px;
}

.title-words #title-description {
    font-size: 17px;
    letter-spacing: normal;
    margin-top: 52px;
    line-height: 1.6;
    width: 480px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -52px;
}

.page-container {
    height: auto;
    padding: 24px 31px 90px 32px;
    border-radius: 20px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    text-align: left;
    position: relative;
}

.pages #left-page-container {
    margin-right: 36px;
}

.pages #right-page-container {
    margin-left: 36px;
}

.page-container #page-name {
    font-size: 20px;
    font-weight: 600;
}

.page-container #summary {
    font-size: 14.5px;
    line-height: 1.5;
    margin-top: 26.5px;
    margin-bottom: 20px;
    color: #5e6076
}

.click-to {
    border: none;
    cursor: pointer;
    padding: 0.86vw;
    border-radius: 6px;
    background-color: #424755;
    font-size: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    margin-bottom: 38px;
    text-decoration: none;
}

.how-it-works #how-it-works-title-container {
    display: flex;
    padding: 7px;
    border-radius: 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-left: -60px;
    margin-bottom: 48px;
    margin-top: 110px;
    width: 370px;
}

#how-it-works-title-container #description-title {
    font-size: 26px;
    margin-top: 10px;
    margin-right: 36px;
}

.how-it-works #description-container {
    text-align: left;
    margin-bottom: 48px;
}

.how-it-works #description-title-container {
    display: flex;
    padding: 7px 81px 8px 7px;
    border-radius: 26px 26px 0 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-left: -60px;
}

.how-it-works #icon {
    width: 24px;
    height: 24px;
    padding: 12px 8px 8px 14px;
}

.how-it-works #icon0 {
    background-color: #f2f4fc;
    border-radius: 26px 8px 8px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
}

.how-it-works #icon1 {
    background-color: #fff6dd;
    border-radius: 26px 8px 8px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
}

.how-it-works #icon2 {
    background-color: #cbffe0;
    border-radius: 26px 8px 8px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
}

.how-it-works #icon3 {
    background-color: #cbecff;
    border-radius: 26px 8px 8px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
}

.how-it-works #icon4 {
    background-color: #e2cbff;
    border-radius: 26px 8px 8px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
}

.how-it-works #vl {
    border-left: 3px solid #f3f4f9;
    height: 50px;
    margin-left: 7px;
}

.how-it-works #description-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: -15px;
}

.how-it-works #description-text {
    font-size: 16px;
    line-height: 1.5;
    color: #5e6076;
    padding: 0 36px 36px 38px;
    border-radius: 0px 0px 26px 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}