.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-container {
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.pages #left-page-container {
    margin-right: 36px;
}

.pages #right-page-container {
    margin-left: 36px;
}

.page-container #page-name {
    font-size: 20px;
    font-weight: 600;
}

.page-container #summary {
    font-size: 14.5px;
    line-height: 1.5;
    margin-top: 26.5px;
    margin-bottom: 20px;
    color: #5e6076
}

#click-to {
    padding: 10px;
    border-radius: 6px;
    background-color: #424755;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#video-container {
    margin-top: 50px;

    #video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* aspect ratio 16:9 */
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}