.home-page-blog-post {
    &-info {
        font-style: italic;
        color: $greyBlue700;
        margin-bottom: 29px;
    }

    &-body {
        color: $textColor;
        white-space: pre-line;
        overflow: hidden;
    }

    &-buttons {
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}