.home-page-blog-post {
    &-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    &-info {
        font-style: italic;
        color: #73767E;
        margin-bottom: 29px;
    }

    &-body {
        color: #5E6076;
        white-space: pre-line;
        height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-buttons {
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}