.video-page-container {
    display: block;
}

#video-container {

    #video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* aspect ratio 16:9 */
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}