#view-selections {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 45px;
    margin-right: 65px;
    margin-bottom: -10px;
}

#selection {
    text-align: right;
    margin-left: 30px;
    cursor: pointer;
}

#selection img {
    height: 20px;
    width: 20px;
}

#selected-view {
    color: black;
    font-weight: medium;
}

.view-selection-btn {
    border: none;
    cursor: pointer;   
    background-color: #FBFBFD;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 21px;
    text-align: right;
    color: #7c7c96;
}

.view-selection-btn img { 
    width: 20px;
    height: 20px;
}