.button {
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    &-primary {
        color: $white;
        background-color: $greyBlue800;
    }

    &-secondary {
        background-color: white;
        border: 1px solid $greyBlue800 !important;
        color: $greyBlue800;
    }
}