@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';

.results-comparison-map {
    .legend-tag {
        font-size: 14px;
    }
}

#map-container {
    position: relative;
    margin-bottom: 100px;
    margin-top: 0px;
    width: 72vw !important;
    margin-left: auto;
    margin-right: auto;
    flex: 1.1 !important;
    border-radius: 20px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: $white;
    padding: 0;
    overflow: hidden;
}

.results-comparison-message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba($white, 0.6);

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 40vw;
        padding: 30px;
        border-radius: 20px;
        background-color: $white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}
