@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';

.blog-post {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 5px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.04);
    background-color: $white;
    font-size: 15px;
    line-height: 1.51;
    color: $greyBlue800;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
        font-weight: 600;
        margin-right: 6px;
        width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &-date {
        font-style: italic;
    }

    &-action-buttons {
        border-left: 1px solid $greyBlue400;
        padding-left: 6px;
    }

    &-button {
        padding: 6px;
        border-radius: 6px;
        background-color: $greyBlue400;
        margin-left: 6px;
    }
}

.blog-posts-title {
    font-size: 18px;
    font-weight: 600;
    color: $greyBlue900;
    margin-bottom: 14px;
}
