#model-input-area {
    position: relative;
}

#timeline {
    position: relative;
    flex: 1.1 !important;
    margin-right: 0px;
    z-index: 1;
    overflow: hidden;
}

#box-info-area {
    flex: 0.9 !important;
    margin-left: 0px;
    padding-left: 0px;
}

/* ---- Timeline ---- */
#timeline ol {
	position: relative;
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 80%;
	height: 4px;
    background: #909090;
}
/* #timeline ol::after {
    content: "";
	top: -5px;
    display: block;
    right: 0;
	width: 6px;
	height: 6px;
	border: 4px solid #909090;
	border-radius: 10px;
	background: #909090;
    position: absolute;
} */

#timeline ol::after {
	content: "";
	position: absolute;
	display: block;
	width: 205px;
    height: 0;
    right: -135px;
	border: 3px dashed #909090;
	border-style: dashed none none none;
    border-radius: 3px;
}

/* ---- Timeline elements ---- */
#timeline li {
	position: relative;
	display: inline-block;
	float: left;
	width: 25%;
	font: bold 14px arial;
    height: 50px;
    margin-bottom: 40px;
}

#timeline input:hover {
    font-weight: normal;
}

#special-li-timeline {
    width: 50% !important;
}

#special-li-timeline .description {
    height: 73px !important;
}

#timeline-input-outer-div {
    width: 40%;
}

#special-li-timeline table {
    width: 100%;
    text-align: left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#timeline-button {
    width: 75% !important;
}

#timeline-button-description {
    height: 73px;
}

#timeline-button-description button {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: #D8D8D8;
    height: 45px;
    width: 70px;
    font-family: Montserrat;
}

#timeline-button-description button:hover {
    font-weight: normal;
    background-color: #CCE1B6;
}

#timeline li .timeline-title {
  position: absolute;
  top: -47px;
  left: 0;
  color: #000000;
}

#timeline li .point {
	content: "";
	top: -5px;
	left: 0;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid #909090;
	border-radius: 10px;
	background: #909090;
    position: absolute;
}
#timeline li .description {
  background-color: #f4f4f4;
  margin-top: 20px;
  font-weight: normal;
  text-align: left;
  padding-bottom: 5px;
}

.description input {
    width: 100%;
    font-size: 18px;
    background-color: #f4f4f4;
}

.description input:hover {
    background-color: #CCE1B6;
}

.description h4 {
    margin-left: 5px;
}

/* #timeline .description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
} */

/* ---- Hover effects ---- */
/* #timeline li:hover {
	cursor: pointer;
    color: #48A4D2;
}
#timeline li:hover .description {
  display: block;
} */

#print-model-outputs {
    margin-top: 10px;
    padding: 20px;
    background-color: #F2F5E8;
    margin-bottom: 20px;
    z-index: 2;
}

#prob-any-spots {
    padding: 20px;
    background-color: #F2F5E8;
}