#model-breakdown-container {
    overflow: auto;
    max-height: 440px;
    background-color: #F2F5E8;
    margin-left: 15px;
    margin-right: 120px;
    padding: 0px;
    flex: 1 !important;
}

#model-breakdown-table {
    width: 100%;
    border-collapse: collapse;
}

#model-breakdown-table td, #model-breakdown-table th {
    border: 3px solid white;
    text-align: center;
    padding: 10px;
}