#map {
    height: 440px;
    text-align: left;
}

#map-container {
    padding: 0px;
    margin-left: 120px;
    margin-right: 15px;
    position: relative;
    flex: 1.1 !important;
}

#select-state-map {
    margin-bottom: 25px;
}

.map-overlay-legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay-hover-area {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
  overflow: auto;
  border-radius: 3px;
}
  
#features {
    top: 0;
    height: 55px;
    margin-top: 10px;
    margin-right: 60px;
    padding: 10px;
    width: 150px;
    overflow: hidden;
    text-align: left;
    font-size: .7em;
}
  
#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 15px;
    font-size: .8em;
    height: 150px;
    margin-bottom: 25px;
    width: 90px;
    overflow: hidden;
    text-align: right;
}
  
.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

#choropleth-map-p-area p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.download-button {
    color: rgb(33, 33, 34);
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s;
}

.download-button:hover {
    background: rgba(242, 240, 240, 1);
}

/* CSS below styles the header and footer for the downloaded PDF */

#map-footer {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0;
}

#map-footer h3 {
    margin-top: 8px;
}

#map-footer h2 {
    margin-bottom: 16px;
    margin-top: 16px;
}

#map-footer p {
    font-size: 14px;
    margin-bottom: 16px;
}

#map-footer span {
    font-family: 'Open Sans', arial, serif;
}

.footer-legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

#footer-legend {
    width: 53%;
    margin: auto;
    margin-bottom: 10px;
}

#map-header {
    text-align: center;
}

#map-header h2 {
    letter-spacing: 1px;
    /* if a large enough margin-top is not included, 
    the title in the printed pdf cannot be seen*/
    margin-top: 200px;
    margin-bottom: 50px;
}

.footnote {
    color: #898989;
    line-height: 14px;
    width: 53%;
    margin: auto;
    margin-bottom: 30px;
}

#spacer {
    height: 50px;
}

#printmap {
    display: none;
}