#map {
    height: 500px;
}

.map-container {
    margin: 15px 31px;
    position: relative;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 20px;
    overflow: auto;
    border-radius: 3px;
}
  
  #features {
    top: 0;
    height: 150px;
    margin-top: 20px;
    margin-right: 60px;
    padding: 10px;
    width: 300px;
    overflow: hidden;
  }
  
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 175px;
    margin-bottom: 40px;
    width: 120px;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

#choropleth-map-p-area p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}