#map {
    height: 440px;
    text-align: left;
}

#map-container {
    padding: 0px;
    margin-left: 120px;
    margin-right: 15px;
    position: relative;
    flex: 1.1 !important;
}

#select-state-map {
    margin-bottom: 25px;
}

.map-overlay-legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay-hover-area {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
  overflow: auto;
  border-radius: 3px;
}
  
#features {
    top: 0;
    height: 80px;
    margin-top: 10px;
    margin-right: 60px;
    padding: 10px;
    width: 200px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
}
  
#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 90px;
    margin-bottom: 25px;
    width: 80px;
    overflow: hidden;
    text-align: left;
}
  
.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#choropleth-map-p-area p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}