#probability-distribution {
    flex: 2.5 !important;
    flex: 0 1 20%;
    width: 20%;
    position: relative;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#probability-metrics-area {
    text-align: center;
    flex-direction: column !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 14px;
    text-align: left;
}

#line-metrics-area p {
    padding-top: 0px;
    padding-bottom: 0px;
}

.metrics-line {
    height: 1px;
    width: 75%;
    background-color: grey;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
