#filter-selections {
    text-align: center;
    padding-top: 0px;
}

.long-line {
    margin-top: 35px;
    height: 1px;
    width: 100%;
    background-color:#D8D8D8;
}

#top-map-area {
    margin-top: 15px;
    margin-bottom: 25px;
}