select, input {
    width: 175px;
    border: none;
    border-radius: 4px;
    background-color: #D8D8D8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px;
    cursor: pointer;
}

input {
    width: 150px;
}

.submit {
    width: 60px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    background-color: #D8D8D8;
    cursor: pointer;
}

.submit:hover {
    background-color: #CCE1B6;
    font-weight: bold;
}

select:hover {
    background-color: #CCE1B6;
    font-weight: bold;
}

input:hover {
    background-color: #CCE1B6;
    font-weight: bold;
}

.selection {
    display: inline-block;
    margin: 10px 15px;
}

.selection h4 {
    text-align: left;
}
