
.about-project p, .next-steps p, .using-product p {
    text-align: justify;
    margin: 0px 100px 15px 100px;
    line-height: 1.5;
    color: white;
}

.about-project h2 {
  text-align: left;
  margin: 15px 100px 15px 100px;
  color: white;
}

.about-project {
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
    background-image: url("../assets/pexels-photo-943898.jpeg");
    background-size: cover;
    background-position: bottom;
    border-radius: 0px;
}

.about-project a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.about-project img {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

#usfs-img-about {
    width: 119px;
    height: 129px;
}

#dart-img-about {
    width: 101px;
    height: 104px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sgfs-img-about {
    width: 85px;
    height: 133px;
}

#more-info-text {
    text-align: center;
    padding: 2% 5%;
}

a:hover {
    text-decoration: underline;
}

#people-previews {
    height: auto;
    display: block;
}

#people-previews p {
    width: 225px;
}

#people-previews h4 {
    margin-top: 10px;
}


.history {
  flex: 4 !important;
}

.person {
    flex: 1 !important;
}

.person img {
    display: inline-block;
    margin: 0px;
}

.using-product {
    flex-direction: row !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
}

.using-product h2 {
      text-align: left;
      margin: 15px 100px 15px 100px;
      font-size: 18px;
}


.next-steps {
    flex: 2 !important;
    flex-direction: column !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
}

.next-steps h2 {
      text-align: left;
      font-size: 18px;
      margin: 0px 100px 5px 100px;
      font-size: 18px;
}

.next-steps h3 {
      text-align: left;
      font-size: 18px;
      margin: 30px 50px 5px 100px;
}

.next-steps p {
    color: #000000;
    font-size: 14px;
    margin: 0px 10px 0px 100px;
}

.contact-info {
  flex-grow: 1;
}

.contact-info h4 {
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 2px;
}

.contact-info h3 {
    padding-bottom: 5px;
}

.using-product p {
    color: #000000;
}

.contact-info a, .using-product a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;

}

.using-product a:hover {
    text-decoration: underline;
}

#contact-info-area {
    margin: 10px 30px;
    text-align: left;
}

.info-box {
    flex-wrap: wrap;
    background: #F2F5E8;
    padding: 15%;
    margin-bottom: 15px;
}

#pad-top {
    padding-top: 10%;
}

.bottom {
  flex-direction: column;
}
