#header {
    height: auto;
    margin: 31px 31px 15px 31px;
    border-radius: 5px;
    background-color: white;
}

#title-area {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#title-area a {
    text-decoration: none;
    color: #212122;
}

#title-area h1 {
    padding-bottom: 0px;
}

#nav-button-area {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#nav-buttons p {
    color: #62731D;;
    float: left;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#nav-buttons p:hover {
    background-color: #E9C46A;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#middle {
    margin: 0px 10px;
}

#nav-active {
    text-decoration: underline !important;
}
