#header {
    height: auto;
    margin: 0px;

    /* margin: 15px 15px 15px 15px; */
    background-color: #3F5726;
}

#title-area {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

#title-area a {
    text-decoration: none;
    color: #000000; /* #212122; */
}

#title-area img {
  height: 12%;
  width: 12%;
  float: left;
}

#title-area h1 {
    padding-bottom: 0px;
}

#nav-button-area {
    float: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

#nav-buttons p {
    color: #ffffff; /*#62731D;*/
    float: left;
    padding: 15px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#nav-buttons p:hover {
    background-color: #3F5726; /* #E9C46A;*/
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#middle {
    margin: 0px 10px;
}

#nav-active {
    text-decoration: underline !important;
}
