#loading-container {
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

#loading-container img {
    margin-left: auto;
    margin-right: auto;
}

#loading-container a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#loading-container a:hover {
    text-decoration: underline;
}