#mobile-landing-page {
    margin: 20px;
    background-color: #3F5726;
    position: fixed;
    width: 82%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40%;
    margin: 0px;
}

#mobile-landing-page p {
    color: white;
    text-align: center;
    line-height: 40px;
}

#mobile-landing-page img {
    height: 55px;
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
} 