#survey123-button {
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
}

#survey123-top {
    margin-top: 15px;
}

#survey123-email {
    color: black;
    text-decoration: none;
}

#survey123-email:hover {
    text-decoration: underline;
}

#survey123-csv {
    padding-top: 35px;
    padding-bottom: 20px;
}

#survey123-csv a {
    color: black;
}