#users-container {
    overflow: scroll;

    #users-title {
        font-size: 18px;
        font-weight: 600;
        color: #2f303a;
    }

    #user-info-container {
        margin-top: 14px;
        padding: 17px 2px 18px 22px;
        border-radius: 12px;
        box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        overflow: scroll;

        #user-email {
            color: #545a6c;
            font-size: 14px;
            line-height: 1.51;
        }
    }
}