#users-container {
    overflow: auto;

    #users-title {
        font-size: 18px;
        font-weight: 600;
        color: $greyBlue900;
    }

    #user-info-container {
        margin-top: 14px;
        padding: 17px 22px;
        border-radius: 12px;
        box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.04);
        background-color: $white;
        overflow: auto;
        display: flex;
        justify-content: space-between;

        #user-email {
            color: $greyBlue800;
            font-size: 14px;
            line-height: 1.51;
        }
    }

    .delete-user-button {
        img {
            height: 20px;
            width: 20px;
        }

        padding: 6px;
        border-radius: 6px;
        background-color: $greyBlue400;
    }
}