#predictionbar {
    background: #FFFFFF;
    box-shadow: 0px 12px 30px -5px rgba(77, 81, 94, 0.04);
    border-radius: 18px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 40px;
}

.menuInstruction {
    background: #FFFFFF;
}

.menuInstruction label {
    background: #FFFFFF;
    color: #7c7c96;
}

.menuInstruction .input {
    padding-left: 20px;
    background: #EDEDEE;
    height: 43px;
    font-family: 'Inter';
    font-size: 18px;
    width: 10vw;
    max-width: 200px;
    border-radius: 6px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#vl1 {
    border-left: 2px solid #f9f9f9;
    height: 72px;
    margin-left: 2vw;
    margin-right: 2vw;
}

#vl2 {
    border-left: 2px solid #f9f9f9;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.county-rd-selection {
    color: #2d2d2d !important;
    font-weight: 600;
}

#mode-selection {
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
}

#mode-selection button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    color: #84848a;
    font-size: 18px;
}

#reset-current-data-button {
    background: #505050;
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    border: 0;
    margin-top: 4vh;
    height: 45px;
    padding: 0px 60px;
    margin-left: 2vw;
}

// Hide short text by default (resolution > 1200px)
.short-text {
    display: none;
}

// When resolution <= 1200px, hide full text and show short text
@media (max-width: 1200px) {
    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}
