#map {
    height: 700px;
    text-align: left;
    width: 100%;
    border-radius: 18px;
}

#trapping-map-container {
    position: relative;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    flex: 1.1 !important;
    border-radius: 20px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

.map-overlay-legend {
    position: absolute;
    bottom: 25px;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: 'Inter';
    overflow: auto;
}

.map-overlay-hover-area {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
  overflow: auto;
  border-radius: 3px;
}
  
#features {
    top: 0;
    height: 55px;
    margin-top: 10px;
    margin-right: 60px;
    padding: 10px;
    width: 150px;
    overflow: hidden;
    text-align: left;
    font-size: .7em;
}
  
#legend {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 15px;
    font-size: 16px;
    overflow: hidden;
    text-align: left;
    width: 145px;
    height: 265px;
    padding: 18px 9px 18px 13px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.legend-key {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    border-radius: 4px;
}

.legend-key-title {
    display: inline-block;
    width: 100%;
    line-height: 1.1;
}


#choropleth-map-p-area p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.download-button {
    color: rgb(33, 33, 34);
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s;
}

.download-button:hover {
    background: rgba(242, 240, 240, 1);
}

/* CSS below styles the header and footer for the downloaded PDF */

#map-footer {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0;
}

#map-footer h3 {
    margin-top: 8px;
}

#map-footer h2 {
    margin-bottom: 16px;
    margin-top: 16px;
}

#map-footer p {
    font-size: 14px;
    margin-bottom: 16px;
}

#map-footer span {
    // font-family: 'Open Sans', arial, serif;
    font-family: 'Inter';
}

.footer-legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

#footer-legend {
    width: 51%;
    margin: auto;
    margin-bottom: 10px;
}

#map-header {
    text-align: center;
}

#map-header h2 {
    letter-spacing: 1px;
    /* if a large enough margin-top is not included, 
    the title in the printed pdf cannot be seen*/
    margin-top: 200px;
    margin-bottom: 50px;
}

.footnote {
    color: #898989;
    line-height: 14px;
    width: 53%;
    margin: auto;
    margin-bottom: 30px;
}

#spacer {
    height: 50px;
}

#printmap {
    display: none;
}

#trapping-hover {
    position: absolute;
    background-color: rgba(17, 18, 22, 0.75);
    padding: 15px;
    color: white;
    text-align: left;
    border-radius: 10px;

    h3 {
        margin-bottom: 10px;
    }
}

#map-overlay-download {
    position: absolute;
    bottom: 0;
    right: 10;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Inter';
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 15px;
    font-size: .8em;
    margin-left: 15px;
    margin-bottom: 40px;
    text-align: center;
}

#map-overlay-download:hover {
    cursor: pointer;
}
