.prediction-details-container {
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 39px 127px 48px 38px;
    border-radius: 26px;
}

.prediction-details {
    // TODO: why is its margin left and right more than others?
    background-color: #ffffff;
    border-radius: 26px;
    display: flex 1 1.2;
}

.prediction-title h1 {
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f303a;
    margin-bottom: 13px;
}

.prediction-title p {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #464756;
    margin-bottom: 24px;

}


// .prediction-details {
//     display: flex;
// }

.percentages {
    display: flex;
}

// #subtitle {
//     padding-bottom: 18px;
//     text-align: left;
//     font-weight: 600;
//     font-family: 'Inter';
//     font-size: 24px;
// }
.prediction-circle #percent {
    line-height: 110px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
}

.prediction-circle p {
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
}

.circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: black; 
    text-align: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 100px;
}

#any-spots {
    box-shadow: 0 6px 20px -2px rgba(255, 193, 72, 0.55);
    background-color: #ffc148;
}

#outbreak {
    box-shadow: 0 6px 20px -2px rgba(134, 204, 255, 0.55);
    background-color: #86ccff;
}

.circle p {
    width: 110px;
    text-align: center;
    align-content: center;
    width: 160px;
    height: 42px;
    margin: 13px 37px 12px -20px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #383b4a;
}

.bullet {
    position: relative;
    border: 2px solid #e9eaef;
    border-radius: 100%; 
    width: 20px; 
    height: 20px;
    line-height: 40px; 
    text-align: center; 
    margin-top: 50px; 
    background-color: #e9eaef; 
    z-index: 2;
}

.bullet:first-child {
    margin-top: 0;
}

.bullet:before {
    position: absolute; 
    border: 1px solid #e9eaef; 
    width: 0; 
    height: 50px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -54px; 
    margin-left: -1px;
}

.bullet:first-child:before {
    display: none;
}


// .prediction-circle #overflow {
//     white-space: nowrap;
// }

// .prediction-grid {
//     display: grid;
//     grid-template-rows: auto 10px auto 10px auto;
//     grid-template-columns: repeat(3, auto);
// }

// .prediction-grid img {
//     width: 18px;
//     height: 18px;
//     // background-size: 150%;
//     float: left;
//     padding: 5px;
// }

// .prediction-grid #clerids img {
//     background-color: #FFE5B4;
//     border-radius: 6px;
// }

// .prediction-grid #spots img {
//     background-color: #C7FFB4;
//     border-radius: 6px;
// }

// .prediction-grid #spb img {
//     background-color: #B4DBFF;
//     border-radius: 6px;
// }

// #clerids, #spb, #spots, #endobrev {
//     text-align: right;
//     background: #FFFFFF;
//     box-shadow: 0px 7px 22px -2px rgba(0, 0, 0, 0.08);
//     border-radius: 6px;
// }