.prediction-details {
    display: flex;
}

.percentages {
    display: flex;
}

#subtitle {
    padding-bottom: 18px;
    text-align: left;
    font-weight: 600;
    font-family: 'Inter';
    font-size: 24px;
}

.circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: black; 
    text-align: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.prediction-circle #percent {
    line-height: 110px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
}

.prediction-circle p {
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
}

.prediction-circle #overflow {
    white-space: nowrap;
}

.prediction-grid {
    display: grid;
    grid-template-rows: auto 10px auto 10px auto;
    grid-template-columns: repeat(3, auto);
}

// #col1-row1 {
//     grid-row-start: 1;
// }

// .prediction-table {
//     align-self: center;
//     width: 100%;
//     font-size: 16px;
//     border-collapse: separate;
//     border-spacing: 0 30px;
//     white-space: nowrap;
// }

// .prediction-table td:nth-child(2){
//     border-right:1px solid white;
// }

// .prediction-table td {
//     width: 33%;
//     height: 40px;
//     text-align: left;
//     padding: 2px 20px 2px 20px;
// }

// #bullet {
//     height: 25px;
//     width: 25px;
//     background: #E9EAEF;
//     border-radius: 50%;
// }

.prediction-grid img {
    width: 18px;
    height: 18px;
    // background-size: 150%;
    float: left;
    padding: 5px;
}

.prediction-grid #clerids img {
    background-color: #FFE5B4;
    border-radius: 6px;
}

.prediction-grid #spots img {
    background-color: #C7FFB4;
    border-radius: 6px;
}

.prediction-grid #spb img {
    background-color: #B4DBFF;
    border-radius: 6px;
}

#clerids, #spb, #spots, #endobrev {
    text-align: right;
    background: #FFFFFF;
    box-shadow: 0px 7px 22px -2px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}