.about-project {
    color: white;
}

.about-project p, #next-steps p, #about-page-text p {
    text-align: justify;
    line-height: 1.5;
}

.about-project p {
    margin-bottom: 45px;
}

.about-project h2 {
  text-align: left;
  margin: 15px 100px 15px 100px;
  margin-top: 45px;
  color: white;
  font-family: 'Open Sans', arial, serif;
  font-size: 1.3em;
}

.about-project h3 {
    font-family: 'Open Sans', arial, serif;
}

.about-project {
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
    background-image: url("../../assets/about-background.png");
    background-size: cover;
    background-position: bottom;
    border-radius: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.about-project h2, .about-project p {
    margin-left: 100px;
    margin-right: 100px;
}

.about-project a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.about-project img {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

.header-text-container {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left
}

.header-text-container h3 {
    margin-bottom: 10px;
}

#special-about-italic {
    font-style: italic;
    font-size: 14px;
}

#contact-info-header {
    padding-top: 65px;
    margin-bottom: 15px;
    text-align: center;
}

.info-box h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

#usfs-img-about {
    width: 119px;
    height: 129px;
}

#dart-img-about {
    width: 101px;
    height: 104px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sgfs-img-about {
    width: 85px;
    height: 133px;
}

#more-info-text {
    text-align: center;
    padding: 2% 5%;
}

a:hover {
    text-decoration: underline;
}

#about-right-container {
    margin-top: 60px;
    padding-right: 15px;
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
}

#people-previews {
    height: auto;
    display: block;
}

#people-previews p {
    width: 225px;
}

#people-previews h4 {
    margin-top: 10px;
}

#person {
    margin-left: auto;
    margin-right: auto;
}

#person img {
    border-radius: 50%;
}

#about-page-text {
    flex: 2.3 !important;
    margin-right: 40px;
}

#about-page-text h2 {
    text-align: left;
    font-size: 18px;
}

#next-steps-top {
    margin-top: 0px;
    padding-top: 0px;
}

#text {
    margin: 15px 4%;
}

#partners-cooperators h2 {
    margin: auto;
    margin-top: 15px;
}

#partners-cooperators .line {
    margin: auto;
    width: 250px;
    margin-bottom: 15px;
}

#about-page-text p {
    color: #000000;
}

#about-page-text a:hover {
    text-decoration: underline;
}

#contact-info-area {
    margin: 10px 30px;
    text-align: left;
}

.info-box {
    background: #F2F5E8;
    padding: 25px;
    margin-bottom: 15px;
}

.info-box a {
    color: black;
}

#pad-top {
    padding-top: 10%;
}

#image-icon-area {
    margin-top: 35px;
    margin-bottom: 15px;
}

#image-icon-area img {
    margin-left: 30px;
    margin-right: 30px;
}

#dali-low {
    margin-bottom: 50px;
}