#about-content {
    margin-bottom: 50px;

    .about-content-container {
        margin-left: unquote("max(100px, 13%)");
        margin-right: unquote("max(100px, 13%)");
        width: auto;
        height: auto;
        margin-top: 25px;
        background-color: #FBFBFD;
        background-clip: border-box;
        border-radius: 0px;
        text-align: left;
    
        h2 {
            margin-bottom: 15px;
        }
    
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    
        p {
            margin-bottom: 5px;
        }

        a {
            font-style: italic;
            color: #73767e;
        }
    }
}
