.about-predictions {
    margin-top: 20px;

    ul {
        margin-left: 20px;
    }
}

.prediction-bottom {
    display: flex;
    margin-top: 75px;
    margin-bottom: 100px;
}

.histogram {
    padding: 25px;
    border-radius: 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-right: 45px;
    height: 0%;
}

.histogram #histogram-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #2f303a;
}

.histogram img {
    width: 50vw;
}

#scroll-animation {
    height: 125px;
    width: 125px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    cursor: pointer;
}

#hidden-animation {
    height: 0;
    width: 0;
    visibility: hidden;
}