.about-predictions {
    margin-top: 20px;

    ul {
        margin-left: 20px;
    }
}

.prediction-bottom {
    display: flex;
    margin-top: 75px;
    margin-bottom: 30px;
}

#toggles-overlay{
    position: absolute;
    top: 480px;
    left: 60vw;
    z-index: 1;
}

.selection-p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #B7B7B7;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    margin-top: 5vh;

    .selected-option-p {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #DFFBFF;
        border-radius: 100px;
        padding-left: 25px;
        padding-right: 25px;

        .selected-option-text-p {
            color: #ffffff;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
    .selected-option-2-p {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #505050;
        border-radius: 100px;
        padding-left: 15px;
        padding-right: 15px;

        .selected-option-text-p {
            color: #ffffff;
        }
        img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
    .unselected-option-p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 1px 1.5px 4px grey inset;
        border-radius: 100px;
        cursor: pointer;

        .unselected-option-text-p {
            color: #93949B;
        }
        img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
}

.histogram {
    padding: 25px;
    border-radius: 26px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-right: 45px;
    height: 0%;
}

.histogram #histogram-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #2f303a;
}

.histogram img {
    width: 50vw;
}

#scroll-animation {
    height: 125px;
    width: 125px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    cursor: pointer;
}

#hidden-animation {
    height: 0;
    width: 0;
    visibility: hidden;
}

#download-pred-data {
    margin-top: 70px;
}