#predictions {
    display: flex;
}

.bar-chart {
    padding-right: 10vw;
}

#pred-header {
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}