// #predictions {
//     display: flex;
//     justify-content: space-between;
// }

#pred-header {
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}