#resultsbar {
    background: $grey200;
    box-shadow: 0px 12px 30px -5px rgba(77, 81, 94, 0.04);
    border-radius: 18px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;

    .resultsbar-selections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .resultsbar-year-selection {
        display: flex;
        flex-direction: column;

        .resultsbar-year-selection-title {
            margin-top: 0.5vh;
            font-weight: bold;

        }

        .resultsbar-year-selection-options {
            display: flex !important;
            flex-direction: row !important;

            .selection-button {
                width: 9vw;
            }
        }
    }

    .resultsbar-location-selection {
        display: flex;
        flex-direction: column;

        .resultsbar-location-selection-title {
            font-weight: bold;

        }
    }

    .resultsbar-clear-button,
    .resultsbar-link-button {
        background: $grey800;
        font-size: 18px;
        border-radius: 10px;
        letter-spacing: 1.5px;
        color: $white;
        border: 0;
        margin-top: 4vh;
        min-height: 45px;
        padding: 0px 60px;
    }

    .divider {
        margin-top: 35px;
        height: 65px;
        border-right: 1px solid $grey400;
    }
    
}

.selection-button {
    width: 15vw;
}