#chart {
    padding: 10px 21px 6px 6px;
    border-radius: 20px;
    box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}