@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';

.scatter-chart.scatter-chart {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  padding: 0;

  @media (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  // Wykres wewnątrz kontenera
  > div {
    width: 100% !important;
    height: 600px !important;

    @media (max-width: $tablet) {
      height: 500px !important;
    }
  }
}
