#overview-text {
  display: flex;
  justify-content: center;
  margin-top: 190px; // Account for fixed header (70px) + navigation bar (70px) + spacing (50px)
  margin-bottom: 50px;
}

#overview-explanation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#title {
  font-family: 'Inter';
  font-size: 44px;
  letter-spacing: 1;
  margin-right: 21px;
}

.explanatory-text {
  text-align: left;
  font-family: 'Inter';
  font-size: 15px;
  margin-bottom: 15px;
}
