#header {
    height: auto;
    padding: 12px;
    background-color: #FBFBFD;

    #title-area {
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;
        background-color: #FBFBFD;
        display: flex;
        justify-content: space-between;
    }
    
    #title-area a {
        text-decoration: none;
        color: #000000;
    }
    
    #title-area img {
        height: 55px;
        width: 55px;
    }
    
    #title-area h1 {
        padding-bottom: 0px;
    }

    #logo img {
        margin-left: 35px;
        margin-top: 13px;
        width: 26px;
        height: 32px;
    }
    
    #nav-button-area {
        margin: auto;
        margin-right: 100px;
    }
    
    #nav-buttons p {
        color: #000000;
        float: left;
        padding: 15px;
        padding-top: 18px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        font-family: "Inter";
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    
    #nav-buttons p:hover {
        text-decoration: underline;
    }
    
    #middle {
        margin: 0px 10px;
    }
    
    #nav-active {
        text-decoration: underline !important;
    }

    .current-nav {
        font-weight: bold;
    }
}