#header {
    height: auto;
    padding: 12px;
    background-color: #FBFBFD;

    #title-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FBFBFD;

        a {
            text-decoration: none;
            color: #000000;
        }

        img {
            height: 55px;
            width: 55px;
        }

        h1 {
            padding-bottom: 0px;
        }

        #logo {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            img {
                margin-left: 35px;
                margin-top: 13px;
                width: 26px;
                height: 32px;
            }

            a {
                margin-left: 25px;
            }
        }

        #nav-button-area {
            margin: auto;
            margin-right: 100px;
        }

        #nav-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            #button-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .nav-button {
                    width: 135px;
                }
            }

            #data-mode-toggle-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                background-color: white;
                padding: 5px;
                border-radius: 5px;
                margin-left: 10px;

                button {
                    border: none;
                    border-radius: 10px;
                    padding: 8px 13px 7px 15px;
                    margin-left: 5px;
                    margin-right: 5px;
                    font-family: "Inter";
                }

                button:hover {
                    cursor: pointer;
                }

                .selected {
                    background-color: #c9cdd9;
                    font-weight: 600;
                    color: #2d2d2d;
                }

                .unselected {
                    background-color: white;
                    border: solid 1.5px #edf0f6;
                    color: #9397a3;
                }

                #data-mode-county {
                    width: 76px;
                }

                #data-mode-rangerdistrict {
                    width: 126px;
                }
            }
        }

        .nav-button {
            padding: 15px;
            padding-top: 18px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-family: "Inter";
            font-style: normal;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;

            -o-transition: 0.3s;
            -ms-transition: 0.3s;
            -moz-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

        #middle {
            margin: 0px 10px;
        }

        .active-nav {
            color: #000000;
            font-weight: bold;
        }

        .inactive-nav {
            color: #73767e;
        }
    }
}
