#header {
    height: auto;
    margin: 0px;

    /* margin: 15px 15px 15px 15px; */
    background-color: #E5E5E5;

    #title-area {
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;
        background-color: #E5E5E5; /* #E9C46A;*/
        display: flex;
        justify-content: space-between;
    }
    
    #title-area a {
        text-decoration: none;
        color: #000000; /* #212122; */
    }
    
    #title-area img {
        height: 55px;
        width: 55px;
    }
    
    #title-area h1 {
        padding-bottom: 0px;
    }
    
    #logo {
        float: left;
        padding-top: 3px;
        margin-left: 22px;
    }
    
    #nav-button-area {
        // display: inline-block;
        margin: auto;
        margin-right: 100px;
    }
    
    #nav-buttons p {
        color: #000000; /*#62731D;*/
        float: left;
        padding: 15px;
        padding-top: 18px;
        // font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        // font-family: "Graphik Web";
        // font-weight: 500;

        font-family: "Inter";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    
    #nav-buttons p:hover {
        text-decoration: underline;
    }
    
    #middle {
        margin: 0px 10px;
    }
    
    #nav-active {
        text-decoration: underline !important;
    }
}