#loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-container p {
    margin-left: 20px;
    font-size: 20px;
}

#loading-animation {
    height: auto;
    width: 10vw;
}