#footer {
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px;
    background-color: #f1f1fb;

    #footer-container {
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }

    p {
        background-color: #f1f1fb;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        color: #2f303a;
        margin-left: 45px;
    }

    img {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80px;
        height: 27px;
    }

    #dali-logo {
        margin-right: 45px;
        margin-top: 18px;
    }
}