#footer {
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px;
    background-color: #f1f1fb;

    #footer-container {
        padding: 0px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 30px;
    }

    p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #2f303a;
    }

    a {
        position: absolute;
        right: 45px;

        #dali-logo {
            width: 80px;
            height: 30px;
        }
    }
}
