.about-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #2f303a;
    margin-bottom: 20px;
}

li {
    font-size: 16px;
    text-align: left;
    color: #404454;
    margin-bottom: 20px;
    line-height: 1.4;
}
