#download-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#download-button img {
    margin-top: 3px;
}

#download-button {
    height: 35px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    border-radius: 6px;
    background-color: #4CD791;
    display: flex;
}

#download-icon{
    width: 20px !important; //overrides image styling from title-area of header
    height: 20px !important;
    margin-left: 9px !important;
}


#download-button p {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
}

#downloading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43px;
    margin-top: 55px;
    text-align: center;

    h4 {
        margin-right: 25px;
    }
}

.download-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    width: 60vw;
    padding: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    // TODO: replace box shadow with grayer background later
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

// remove unnecessary blue outline from modal (does not impact accessibility)
.download-modal:focus {
    outline:0;
}

#close-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -25px;

    img {
        width: 25px;
        height: 25px;
        margin-right: -25px;
    }

    img:hover {
        cursor: pointer;
    }
}

#modal-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #1e1e1e;
}

#modal-year {
    display: flex;
    margin-top: 35px;
}

#modal-year #year-selection {
    margin-right: 52px;
}

#modal-year #all-years-button {
    padding: 7px 15px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: #c9cdd9;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #2f303a;
}

#modal-state-county-rd {
    margin-top: 20px;
    margin-right: 25px;
    display: flex;
}

#modal-download-selection #question {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

#modal-download-selection #question h4 {
    font-size: 18px;
    margin-right: 50px;
}

#selection-types {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-right: 78px;
}

.checkbox-text {
    font-size: 18px;
    margin-left: 10px;
}

#circle-checkbox {
    margin-top: 20px;
}

#extras-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    label {
        margin-right: 20px;
    }
}

#modal-submit-btn {
    height: 43px;
    padding: 5px 52px 5px 22px;
    margin-left: 35%;
    margin-top: 55px;
    border-radius: 6px;
    background-color: #ced6fe;
    display: flex;
    border: none;
    text-align: center;
}

#modal-submit-btn img {
    height: 24px;
    width: 24px;
    margin-right: 20px;
    margin-top: 2px;
}

#modal-submit-btn p {
    font-size: 18px;
    line-height: 1.8;
}

#modal-footnote-container {
    margin-top: 40px;

    .modal-footnote {
        
    }
}

// https://stackoverflow.com/questions/58355628/animate-react-modal
.ReactModal__Overlay {
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}