#filter-selections {
    flex: 1.3 !important;
    text-align: left;
    justify-content: flex-start;
}



#forest {
    display: none;
}

#nf {
    display: none;
}

.selection-buttons {
    margin-bottom: 15px;
    height: auto;
}

.selection-buttons span {
    text-decoration: none;
    color: white;
    padding: 25px 40px;
    background-color: #192D35;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.selection-buttons a:hover {
    background-color: #ABB2B5;
    color: #212122;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.selection-no-button {
    width: 180px;
}

#start-year-input, #end-year-input {
    width: 110px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
}

.static-button {
    margin-top: 10px;
}

#active {
    background-color: #ABB2B5;
    color: #212122;
    font-weight: bold;
}

.prediction-model {
    flex-direction: column !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
    position: relative !important;
}

.prediction-model * {
    transition: opacity 0.5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.prediction-model h1 {
    font-size: 50px;
    padding-bottom: 0px;
    margin-top: 15px;
}

.prediction-model h2 {
    margin-top: 10px;
}

.prediction-model h4 {
    font-weight: lighter;
    font-size: 22px;
    padding-bottom: 0px;
}

#prediction-model-load-icon, #map-area-load-icon {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}

.pred-area {
    display: inline-block;
    margin: 0px 20px;
}

h4.location {
    font-weight: 600;
    margin-bottom: 30px;
}

#calculations {
    height: auto;
    margin-bottom: 10px;
}

.data-insights {
    flex-direction: column !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
    flex: 1.5 !important;
}

#adjust-map-size-button, #reset-current-data-button {
    width: 100px;
    background-color: #E9C46A;
    margin-left: 15px;
    height: 50px;
    font-size: 13px;
}

#adjust-map-size-button, #reset-current-data-button:hover {
    font-weight: 500;
}

#map-area, #prediction-model {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.map {
    margin-top: 15px;
    height: 100%;
}

.high {
    color: #E85530;
}

.medium {
    color: #DE9459;
}

.low {
    color: #427B91;
}

/* add html, body in front to get map to load */
#viewDiv {
  padding: 0;
  margin: 0;
  height: 808px;
  width: 100%;
}

#map-area {
    flex: 3 !important;
}

#beetle-count-area {
    flex-direction: column !important;    /* vertical alignment of flex items */
    justify-content: flex-start !important;   /* center flex items vertically */
    padding-top: 50px;
}

#selection-areas-view-data a {
    width: 60px;
    padding: 14px;
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #E9C46A;
    margin-top: 10px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#selection-areas-view-data a:hover {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
