#auth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    #auth-header {
        text-align: center;

        p {
            font-size: 16px;
            text-align: center;
            color: $greyBlue800;
        }

        #header-options {
            display: flex;
            margin-top: 10px;
            justify-content: center;

            p {
                color: $greyBlue900;
                text-decoration: underline;
            }

            p:hover {
                cursor: pointer;
            }

            #sign-out {
                margin-right: 30px;
            }
        }
    }

    #dashboard-container {
        padding: 37px;
        border-radius: 26px;
        box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
        background-color: $white;
        margin: 15px unquote("max(100px, 17%)") 100px;

        #dashboard {
            display: flex;
            height: 70vh;

            #upload-container {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: auto;

                div {
                    padding: 23px;
                    border-radius: 22px;
                    background-color: $greyBlue100;
                    flex: 1 1 auto;
                    width: 400px;
                }

                *+* {
                    margin-top: 15px;
                }
            }

            #user-container {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: auto;
                margin-left: 20px;

                #users-container,
                #add-users {
                    flex: 1 1 auto;
                    padding: 23px;
                    border-radius: 22px;
                    background-color: $greyBlue100;
                }

                #add-users {
                    margin-top: 15px;
                }
            }
        }

        .dashboard-buttons-container {
            display:flex;
            justify-content: space-around;
            margin: 40px;

            .button {
                flex: 0
            }

            #rerun-button,
            #update-histogram-button {
                margin: 20px 40px;
                padding: 8px 34px 7px 35px;
                border-radius: 6px;
                background-color: $greyBlue900;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.8;
                color: $white;
                white-space: nowrap;
            }

            #model-error-container,
            #histogram-error-container {
                color: $red500;
                display: flex;
                justify-content: center;
                font-weight: 700;

                .error-mark {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    flex: 0 0 auto;
                    background-color: $red500;
                    color: $white;
                    margin-right: 10px;
                }
            }
        }

    }
}

.blog-container {
    display: flex;
}

.add-blog-post-container,
.blog-posts-container {
    flex: 1 1 auto;
    padding: 23px;
    border-radius: 22px;
    background-color: $greyBlue100;
    width: 50%;
}

.blog-posts-container {
    margin-left: 20px;
    overflow: auto;
    max-height: 500px;
}