#auth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #auth-header {
        text-align: center;

        #header-options {
            display: flex;
            justify-content: center;

            p {
                color: #2f303a;
                text-decoration: underline;
            }

            p:hover {
                cursor: pointer;
            }

            #vl {
                border-left: 1px solid #2f303a;
                height: auto;
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }

    #dashboard-container{
        display: flex;
        padding: 37px;
        border-radius: 26px;
        box-shadow: 0 35px 90px -10px rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        margin: 15px unquote("max(100px, 17%)") 100px;
        height: 70vh;

        #upload-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: scroll;

            div {
                padding: 23px;
                border-radius: 22px;
                background-color: #f8f9ff;
                flex: 1 1 auto;
            }

            * + * {
                margin-top: 15px;
            }
        }

        #user-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: scroll;
            margin-left: 20px;

            div {
                flex: 1 1 auto;
                overflow: scroll;
            }

            * + * {
                margin-top: 15px;
            }
        }
    }

    // #component-container {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     margin-top: 50px;

        // #selected-option {
        //     text-decoration: underline;
        // }

        // .component-option {
        //     margin-left: 10px;
        //     margin-right: 10px;
        // }

        // .component-option:hover {
        //     cursor: pointer;
        //     text-decoration: underline;
        // }
    }

    // #component-container {
    //     margin-bottom: 50px;
    // }
// }