.play-with-model-inputs-container {
    justify-content: space-between;
    border-radius: 26px;
}

.change-fields-container {
    flex-grow: 1;
}

.change-fields {
    text-align: left;
}

#change-fields-title {
    margin-bottom: 37px;

    .input-description {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        text-align: left;
        color: #2f303a;
    }

    .required-text {
        color: #ff0000;
        float: right;
        margin-top: 10px;
    }
}

span.required-text {
    color: #ff0000;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: left;
}

.icon-text-container {
    display: inline-flex;
}

.icon {
    width: 13px;
    height: 13px;
    padding: 8px;
    border-radius: 4px;
}

#field-text {
    margin-left: 10px;
    margin-top: 5px;
}

#trap-icon {
    background-color: #c7ffb4;
}

#clerids-icon {
    background-color: #ffe5b4;
}

#spb-icon {
    background-color: #b4dbff;
}

#endobrev-icon {
    background-color: #deb4ff;
}

.field input[type=number] {
    width: 88px;
    height: 28px;
    border-radius: 6px;
    background-color: #f0f2f8;
    border: none;
    padding: 3px 0px 4px 10px;

    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.16;
    text-align: center;
    color: #2f303a;
}

.field .checkboxes {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.16;
    color: #2f303a;
    display: inline-flex;
}

.endobrev-checkbox span {
    margin: 0 0 0 5px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #000000;
}

.endobrev-checkbox {
    width: 88px;
    height: 28px;
    border-radius: 6px;
    background-color: #f0f2f8;
    border: none;
    padding: 3px 0px 4px 10px;
    margin-left: 5px;
    cursor: pointer;

    * {
        cursor: pointer,
    }
}

.run-button {
    width: 129px;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .selection-button {
        background-color: #f0f2f8;
    }
}

.pick-model-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    span {
        font-weight: 600;
        line-height: 1.8;
        margin-bottom: 5px;
    }
}