#predictionbar {
    background: #FFFFFF;
    box-shadow: 0px 12px 30px -5px rgba(77, 81, 94, 0.04);
    border-radius: 18px;
    font-family: 'Inter';
    font-size: 18px; 
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.menuInstruction {
    background: #FFFFFF;
}

.menuInstruction label {
    background: #FFFFFF;
    color: #7c7c96;
}

.menuInstruction .input {
    padding-left: 20px;
    background: #EDEDEE;
    height: 43px;
    font-family: 'Inter';
    font-size: 18px; 
    width: 10vw !important;
    max-width: 200px;
    border-radius: 6px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.selection {
    background: #FFFFFF;
}

.selection label {
    color: #7c7c96;
    background: #FFFFFF;
}

.selection-no-button {
    padding-left: 20px;
    background: #EDEDEE;
    height: 43px;
    font-family: 'Inter';
    font-size: 18px; 
    width: 15vw;
    max-width: 220px;
    border-radius: 6px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#vl1 {
    border-left: 2px solid #f9f9f9;
    height: 72px;
    margin-left: 2vw;
    margin-right: 2vw;
}

#vl2 {
    border-left: 2px solid #f9f9f9;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.county-rd-selection {
    color: #2d2d2d;
}

#mode-selection {
    display: flex;
    height: 0px;
}

#mode-selection button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    outline: none; 
    color: #84848a;
    font-size: 18px;
}

#reset-current-data-button {
    background: #C9CDD9;
    height: 43px;
    font-family: 'Inter';
    font-size: 18px; 
    width: 12vw;
    max-width: 150px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    color: #2F303A;
    margin-left: 4.5vw;
    margin-top: 10px;
}

// Hide short text by default (resolution > 1200px)
.short-text { display: none; }

// When resolution <= 1108px, hide full text and show short text
@media (max-width: 1108px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}