#predictionbar {
    background: #F5F5F5;
    box-shadow: 0px 12px 30px -5px rgba(77, 81, 94, 0.04);
    border-radius: 18px;
    font-family: 'Inter';
    font-size: 18px; 
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

    .predictionbar-year-selection {
        display: flex;
        flex-direction: column;

        .predictionbar-year-selection-title {
            margin-top: 0.5vh;
            font-weight: bold;

        }

        .predictionbar-year-selection-options {
            display: flex;
            flex-direction: row;

            .selection-button {
                width: 9vw;
            }

            .predictionbar-year-selection-option {
                font-size: 16px;
            }
        }
    }

    .predictionbar-location-selection {
        display: flex;
        flex-direction: column;

        .predictionbar-location-selection-title {
            font-weight: bold;

        }
    }

    .predictionbar-clear-button {
        background: #505050;
        font-size: 18px; 
        border-radius: 10px;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        border: 0;
        margin-top: 4vh;
        height: 45px;
        padding: 0px 60px;
    }
}

.selection-button {
    width: 15vw;
    //max-width: 125px;
}